<div class="page-header">
  <h1>Expense oweds</h1>
</div>

<p><a href="/expense_oweds/new" class="btn btn-primary">Add a New Expense Owed</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Portion owed</th>
      <th>User</th>
      <th>Expense</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_oweds.each do |expense_owed| %>
      <tr>
        <td><%= expense_owed.portion_owed %></td>
        <td><%= expense_owed.user_id %></td>
        <td><%= expense_owed.expense_id %></td>
        <td>
          <a href="/expense_oweds/<%= expense_owed.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/expense_oweds/<%= expense_owed.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_expense_owed/<%= expense_owed.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

